/* CSS reset */
* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* Main styles */
body {
  background-color: rgb(41, 40, 40);
  color: #fff;
  font-family: "Indie FLower";
  text-align: center;
}
header {
  height: 60px;
  font-size: 32px;
  letter-spacing: 3px;
  padding-top: 20px;
  margin-bottom: 20px;
}
main {
  padding-bottom: 80px;
}
/* Form Styles */
.note-form {
  margin: auto;
  width: 500px;
}
.note-form input {
  height: 25px;
  margin: 5px;
}
#note {
  display: block;
  margin: auto;
  padding: 5px;
  width: 350px;
}
#note {
  margin-top: 5px;
}
.create-btn {
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 5px;
  padding: 5px 10px;
}
.create-btn:hover {
  background-color: seagreen;
  border: 1px solid seagreen;
}
/* Note Canvas Styles */
#note-canvas {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 0 15px 0;
  margin: 20px auto;
  width: 525px;
}
#note-canvas h2 {
  color: #000;
  font-size: 22px;
  letter-spacing: 2px;
}
/* Notes Styles */
.notes {
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;
  margin: 10px auto;
  padding: 5px;
  width: 500px;
}
.notes p {
  color: #000;
  font-size: 20px;
}
.notes button {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
  border-radius: 3px;
  padding: 5px 2px 2px 2px;
}
.notes-div p{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
.notes-div input {
  height: 20px;
  width: 20px;
}
.notes button:hover {
  background-color: rgb(231, 228, 228);
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.notes img {
  height: 25px;
}
.checked {
  border: 1px solid #000;
  margin-right: 20px;
}
.completed {
  text-decoration: line-through;
}
/* Footer Styles */
footer {
  background-color: rgb(26, 25, 25);
  bottom: 0;
  left: 0;
  padding: 15px;
  position: fixed;
  width: 100%;
}
small {
  display: block;
  font-family: "Raleway";
  font-size: 14px;
  letter-spacing: 2px;
  margin: 2px;
}


@media screen and (max-width: 575px) {
body {
  background-color: aqua;
}
}